.link:hover {
  transform: scale(1.1);
  color: black;
  z-index: 1;
}
.item {
  position: relative;
}
.link {
  display: inline-block;
  text-align: start;
  color: darkslategray;
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 3px;
  transform-origin: center;
  font-size: 15px;
  line-height: 1.1;
}
.list {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
